:root {
  font-family: 'JetBrains Mono Variable', monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161627;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sidebar */

#sidebar {
  width: 16vw;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  left: 0;
  border-right: 3px solid rgba(252, 252, 252, 0.603);
  background: linear-gradient(to left, #25253fc2, #161627);
  position: fixed;
}

#sidebar>h1 {
  text-align: center;
}

#sidebar>nav>ul {
  list-style: none;
}

#resume-link>span {
  margin-left: 1em;
}

#parent {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

/* Global Detail */

#detail {
  width: 70vw;
  text-align: center;
  margin-left: 22vw;
  overflow-x: hidden;
}

#aboutme-text>h2 {
  text-align: left;
}

#pdfframe {
  height: 100%;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
}

#aboutme-text {
  padding-bottom: 4vh;
}

/* Document Body */

body {
  margin: 1.5vw;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: white;
}

/* Themes */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
