:root {
  font-family: Helvetica, monospace, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  font-size: 1em;

  color-scheme: dark light;

  --background-dark: #282c34;
  --background-light: #fff;
  --text-dark: #abb2bf;
  --text-light: #212a31;
  --text-emphasis-dark: rgb(136, 243, 234);
  --text-emphasis-light: rgb(22, 77, 94);
  --raised-dark: rgba(118, 143, 255, 0.082);
  --raised-light: #748d9267;
  --border-dark: rgba(255, 255, 255, 0.63);
  --border-light: rgba(23, 48, 90, 0.582);
  --subheader-dark: #abb2bf;
  --subheader-light: #505050;
  --title-text-dark: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

html {
  height: 100%;
  color: var(--text-dark)
}

#root {
  height: 100%;
}

/* Theme Toggle */

#theme-toggle {
  z-index: 6;
  position: fixed;
  top: 1%;
  right: 1%;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 39px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid white;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-sun {
  color: rgb(255, 208, 0);
}

.fa-moon {
  color: rgb(0, 247, 255);
}

.checkbox-label .cover {
  background-color: #fff;
  width:20px;
  height:20px;
  position: absolute;
  left:2px;
  right:2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

.checkbox:checked + .checkbox-label .cover {
  transform: translateX(24px);
}

/* Sidebar */

#sidebar {
  width: 18vw;
  display: flex;
  position: sticky;
  height: 100vh;
  align-items: stretch;
  overflow-x: hidden;
  top: 0;
  left: 0;
  background: var(--background-dark);
  flex-direction: column;
}

#sidebar-head {
  margin: 10%;
}

#name-plate {
  color: var(--title-text-dark);
}

#sidebar-head>.center-align {
  text-align: center;
}

#sidebar>nav>ul {
  list-style: none;
}

#resume-link {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#resume-link span {
  margin-left: 1em;
}

#parent {
  width: 56vw;
  margin: auto;
  height: 100%;
  display: flex;
}

/* Global Detail */

#detail {
  width: 70%;
  text-align: left;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: flex;
  padding-left: 6vw;
}

#aboutme-text>p {
  text-align: left;
  padding-top: 0;
}

#profile-image { 
  max-height: 30vh;
  float: left;
  padding-left: 1vw;
  padding-right: 1vw;
}

#pdfframe {
  height: 100%;
  width: 100%;
}

#portrait-container {
  margin-top: 14px;
}

iframe {
  height: 100%;
  width: 100%;
}

#aboutme-text {
  padding-bottom: 4vh;
}

/* Document Body */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body.dark #title-plate {
  color: var(--title-text-dark);
}

body.light #title-plate {
  color: var(--text-emphasis-light);
}

#projects-title {
  text-align: center;
  text-decoration: underline;
  color: #fff;
}

body.dark .project-header {
  color: var(--title-text-dark);
}

body.light .project-header {
  color: var(--subheader-light);
}

a {
  text-decoration: none;
  color: inherit;
}

body.dark .project-details {
  color: var(--subheader-dark)
}

/* Tags */
.tag {
  width: fit-content;
  min-width: 30px;
  height: auto;
  padding: .3em;
  border-radius: 30%;
  margin-right: 3px;
  font-size: .8rem;
  font-style: oblique;
  text-align: center;
  color: var(--text-emphasis-dark);
}

.tag-holder {
  display: flex;
  justify-content: center;
}

body.dark .tag {
  background-color: var(--raised-dark);
  border: 1px solid var(--border-dark);
}

body.light .tag {
  background-color: var(--raised-light);
  border: 1px solid var(--border-light);
  color: var(--text-emphasis-light);
}

/* Dark Mode */
body.dark {
  background-color: var(--background-dark);
}

body.dark img {
  border: 1px solid (var(--border-dark));
}

/* Light Mode */
body.light {
  background-color: var(--background-light);
  color: var(--text-light);
  text-shadow: none;
}

body.light #sidebar {
  background: var(--background-light);
}

body.light img {
  border: 1px solid (var(--border-light));
}

/* 1440p+ Monitors */
@media (min-width: 2400px) {
  body {
    width: 68vw;
  }
}

/* Mobile Styles */
@media (max-width: 1000px) {
  body {
    max-width: 640px;
  }

  #parent {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  #detail {
    text-align: center;
    padding-left: inherit;
    margin-top: auto;
  }

  #sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 20%;
    border-right: none;
  }

  #sidebar-head {
    margin: 0;
    text-align: center;
  }

  #profile-image {
    float: none;
  }

  #aboutme-text>p {
    padding-top: inherit;
  }

  #name-plate {
    margin-bottom: 0;
  }

  .tag {
    font-size: .6em;
  }

  .project-details {
    text-align: left;
  }

  #sidebar-caption {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  #sidebar nav {
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  body.dark #sidebar {
    border-bottom: 1px solid var(--border-dark);
    background: var(--background-dark);
  }

  body.light #sidebar {
    border-bottom: 1px solid var(--border-light);
    border-right: none;
  }

  body.dark #aboutme-text {
    border-bottom: 1px solid var(--border-dark);
  }

  body.light #aboutme-text {
    border-bottom: 1px solid var(--border-light);
  }
}
