:root {
  font-family: Helvetica, monospace, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: dark light;
  color: rgb(247, 226, 213);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #161627;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

/* Theme Toggle */

#theme-toggle {
  z-index: 6;
  position: fixed;
  top: 1%;
  right: 1%;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 39px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid white;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-sun {
  color: rgb(255, 208, 0);
}

.fa-moon {
  color: rgb(0, 247, 255);
}

.checkbox-label .cover {
  background-color: #fff;
  width:20px;
  height:20px;
  position: absolute;
  left:2px;
  right:2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

.checkbox:checked + .checkbox-label .cover {
  transform: translateX(24px);
}


/* Sidebar */

#sidebar {
  width: 16vw;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  left: 0;
  border-right: 3px solid rgba(252, 252, 252, 0.603);
  background: linear-gradient(to left, #25253fc2, #212136c2 25%, #1b1b38c2 50%, #191931 75%, #161627);
  position: fixed;
}

#sidebar-head {
  margin: 10%;
}

#sidebar-head>.center-align {
  text-align: center;
}

#sidebar>nav>ul {
  list-style: none;
}

#resume-link>span {
  margin-left: 1em;
}

#parent {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

/* Global Detail */

#detail {
  width: 70vw;
  text-align: center;
  margin-left: 22vw;
  overflow-x: hidden;
}

#aboutme-text>h2 {
  text-align: left;
}

#profile-image {
  width: auto;
  max-height: 30vh;
  opacity: .8;
}

#pdfframe {
  height: 100%;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
}

#aboutme-text {
  padding-bottom: 4vh;
}

/* Document Body */

body {
  margin: 1.5vw;
  min-width: 320px;
  min-height: 100vh;
  transition: background 0.2s linear;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: white;
}

/* Light Mode */
body.light {
  color: red;
}
